.blog-title-div{
    width: 100%;
    text-align: center;
    margin-top: 50%;
}

.blog-title-div p{
    font-weight: bold;
    font-size: 5vw;
}
  
.list-btn{
    margin: 30% auto;
    width: 60%;
    bottom: 50vh;
    border: 2px solid black;
    border-radius: 8%;
    text-align: center;
}

.list-btn p{
    font-weight: bold;
    font-size: 4vw;
}