a{
    text-decoration: none;
}

#nav{
    background-color: white;
    width: 100vw;
    position: fixed;
    text-align: center;
    top: 0; /*fixed 된 요소를 상단에 고정시켜줌*/
}

#nav-btn{
    cursor: pointer;
    position: absolute;
    right: 10%;
    top: 40%;
}

#nav-btn div{
    background-color: black;
    width: 30px;
    height: 5px;
    margin-bottom: 5%;
}

.render-div{
  width: 30vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.side-div{
    width: 100vw;
    background-color: white;
    position: fixed;
    flex-direction: column;
    text-align: center;
    align-items: center;
    overflow: auto;
    top: 15%;
}

.side-div-open{
  display: flex;
}

.side-div-close{
  display: none;
}

#side-title a{
    text-decoration: none;
    color: black;
    text-align: center;
    font-weight: bold;
    font-size: 4vw;
  }

  .triangle {
    width: 0px;
    height: 0px;
    border-bottom: 1.5vh solid transparent;
    border-top: 1.5vh solid transparent;
    border-left: calc( 1.5vw * 1.732 ) solid black;
    margin-right: 5px;
    
  }

  .side-text-div{
    text-align: center;
    width: 50vw;
    margin-bottom: 5%;
  }

  .side-text-div a{
    color: black;
  }

  .click-triangle{
    transform: rotate(90deg) translateX(2px) translateY(3px);
  }

  .non-click-triangle{
    transform: rotate(0deg) translateX(0px) translateY(0px);
  }

  .side-title-div{
    width: 22vw;
    cursor: pointer;
    margin-bottom: 10%;
  }

  #side-text{
    font-size: 3vw;
    color: black;
  }


  